<html>
  <head>
    <title>Binary Clock</title>
    <script src="./scripts/angular.min.js"></script>
    <link type="text/css" href="./stylesheets/styles.less" rel="stylesheet/less" />
    <script src="./scripts/less-1.6.3.js"></script>
  </head>
  <body ng-app="binaryClockApp">
    <div ng-controller="ClockCtrl" class="structure" ng-class="colorScheme">
        <p>
            <button ng-click="setColorScheme('charcoal')">Charcoal</button>
            <button ng-click="setColorScheme('green')">Green</button>
        </p>
        <div ng-controller="HoursCtrl">
            <ul class="binary-markers hours">
                <li class="marker" ng-class="{active: hours % 32 >= 16 && hours % 32 <= 31}">&#149;</li>
                <li class="marker" ng-class="{active: hours % 16 >= 8 && hours % 16 <= 15}">&#149;</li>
                <li class="marker" ng-class="{active: hours % 8 >= 4 && hours % 8 <= 7}">&#149;</li>
                <li class="marker" ng-class="{active: hours % 4 == 2 || hours % 4 == 3}">&#149;</li>
                <li class="marker" ng-class="{active: hours % 2 != 0}">&#149;</li>
            </ul>
        </div>

        <div ng-controller="MinutesCtrl">
            <ul class="binary-markers minutes">
                <li class="marker" ng-class="{active: minutes % 64 >= 32 && minutes % 64 <= 63}">&#149;</li>
                <li class="marker" ng-class="{active: minutes % 32 >= 16 && minutes % 32 <= 31}">&#149;</li>
                <li class="marker" ng-class="{active: minutes % 16 >= 8 && minutes % 16 <= 15}">&#149;</li>
                <li class="marker" ng-class="{active: minutes % 8 >= 4 && minutes % 8 <= 7}">&#149;</li>
                <li class="marker" ng-class="{active: minutes % 4 == 2 || minutes % 4 == 3}">&#149;</li>
                <li class="marker" ng-class="{active: minutes % 2 != 0}">&#149;</li>
            </ul>
        </div>

        <div ng-controller="SecondsCtrl">
            <ul class="binary-markers seconds">
                <li class="marker" ng-class="{active: seconds % 64 >= 32 && seconds % 64 <= 63}">&#149;</li>
                <li class="marker" ng-class="{active: seconds % 32 >= 16 && seconds % 32 <= 31}">&#149;</li>
                <li class="marker" ng-class="{active: seconds % 16 >= 8 && seconds % 16 <= 15}">&#149;</li>
                <li class="marker" ng-class="{active: seconds % 8 >= 4 && seconds % 8 <= 7}">&#149;</li>
                <li class="marker" ng-class="{active: seconds % 4 == 2 || seconds % 4 == 3}">&#149;</li>
                <li class="marker" ng-class="{active: seconds % 2 != 0}">&#149;</li>
            </ul>
        </div>

    </div>
    <script src="./scripts/binaryClockApp.js"></script>
  </body>
</html>
