body{
    background: #333;
    color:#444;
    font-size: 28px;
    text-align:center;
}
.binary-markers{
    font-size: 3em;
    margin: 0;
}
.binary-markers li{
    display:inline;
}
.binary-markers li.active{
    color:white;
}
.hours{
    font-size:3.7em;
    margin-bottom: 0;
}
.minutes{
    position: relative;
    top: -.06em;
}