.transition(@type: all, @duration:.66s, @ease:ease-out) {
  -webkit-transition: @type @duration @ease;
  -moz-transition: @type @duration @ease;
  -o-transition: @type @duration @ease;
  transition: @type @duration @ease;
}

.button-row {
    position: absolute;
    bottom: 1em;
    margin: auto;
    width: 100%;
    .button {
        background-color: transparent;
    }
}

.no-border {
    border: none;
}

.sunset {
    background-color: #AF3422;
    color: #D38E1E;
    .active {color: #FFCD31;}
    button {color:inherit;}
}

.jejeune {
    background-color: #289976;
    color: #67CC8E;
    .active {color: #B1FF91;}
    button {color:inherit;}
}

.charcoal {
    background-color: #333;
    color: #444;
    .active {color: #bbb;}
    button {color:inherit;}
}

.blue {
    background-color: #2585C3;
    color: #53A8D8;
    .active {color: #7EBCE4;}
    button {color:inherit;}
}

.peppermint {
    background-color: #D60039;
    color: #EC5E78;
    .active {color: #F49EB6;}
    button {color:inherit;}
}

.phaedra {
    background-color: #B1EB8A;
    color: #FFFF86;
    .active {color: #FF4823;}
    button {color:inherit;}
}

.firenze {
    background-color: #367952;
    color: #FFF090;
    .active {color: #FFA220;}
    button {color:inherit;}
}

html, body {
    .transition;
    .structure{.transition;}
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    &> div {
        height: 100%;
    }
    font-size: 28px;
    text-align:center;
    button {
        border: 1px solid;
        font-size: .8em;
        font-weight: 200;
        font-family: 'Helvetica Neue';
        background-color: transparent;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    .binary-markers {
        font-size: 3em;
        margin: 0;
        li {
            display: inline;
        }
    }
    .hours{
        font-size:3.7em;
        margin-bottom: 0;
    }
    .minutes{
        position: relative;
        top: -.06em;
    }
}
